<!DOCTYPE html>
<html>
<head>
<title>Background</title>
<script type="text/javascript" src="#{url}/api/env"></script>
<script type="text/javascript" src="#{url}/chrome/dist/vendors.js"></script>
<script type="text/javascript" src="#{url}/chrome/dist/script.js"></script>
</head>
<body>
</body>
</html>