<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="#{url}/chrome/dist/popup.css">
<title></title>
</head>
<body>
<div style="width:320px">
<label>Close and save tabs older than</label>
<input class="js-input-time" type="text" placeholder="Time in miliseconds...">
<button class="js-btn-save">Save</button>
<button class="js-toggle-activate">Deactivate</button>
</div>
<script type="text/javascript" src="#{url}/chrome/dist/vendors.js"></script>
<script type="text/javascript" src="#{url}/chrome/dist/popup.js"></script>
</body>
</html>