<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<div>
<input class="js-input-time" type="text" placeholder="Time in miliseconds...">
<button>Activate</button>
<button>Deactivate</button>
</div>
<script type="text/javascript" src="#{url}/chrome/dist/vendors.js"></script>
<script type="text/javascript" src="#{url}/chrome/dist/popup.js"></script>
</body>
</html>