html
  head
    title= 'Your Saved Tabs'
    script= script
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
  body
    h1= 'Saved Tabs'
    script(src='/links.js')
