@import url(http://fonts.googleapis.com/css?family=Raleway);
.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cssmenu:after,
.cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
.cssmenu ul {
  background: #ffffff;
}
.cssmenu > ul > li {
  float: left;
}
.cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
.cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
.cssmenu.align-right > ul > li {
  float: right;
}
.cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
.cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
.cssmenu > ul > li.active > a,
.cssmenu > ul > li:hover > a,
.cssmenu > ul > li > a:hover {
  color: #ffffff;
}
.cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
.cssmenu > ul > li.active > a:after,
.cssmenu > ul > li:hover > a:after,
.cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}

/*body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f9fc;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}*/

.card {
    width: 400px;
    height: 615px;
    margin: 50px auto;
    border-radius: 30px;
    background-color: #f6fcfe;
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.21);
    position: relative;
    overflow: hidden;
}

/****************
Back
****************/

.card .back {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -139px;
    font-weight: 600;
    z-index: 1;
    
    
}

.card .back a img{
    width: 60px;
    margin: 10px;
    transition: .3s ease-in-out;
}

.card .back a img:hover{
    transform: scale(1.2);
}

/****************
UP
****************/
#justin {
  background-image: url(https://files.slack.com/files-tmb/T0JCYCPPH-F0ZQPALNB-4a968e6d9c/img_8398_1024.jpg);
}

#ivan {
  background-image: url(https://files.slack.com/files-tmb/T0JCYCPPH-F0ZQGN1R6-d00eaf1def/img_8393_1024.jpg);
}

#jake {
  background-image: url(https://files.slack.com/files-tmb/T0JCYCPPH-F0ZQRTWSZ-3da34f3442/fullsizerender_1024.jpg);
}

#louis {
  background-image: url(https://files.slack.com/files-tmb/T0JCYCPPH-F0ZQJ19SR-81a417079b/img_8391_1024.jpg)
}

.card  .up {
    position: absolute;
    width: 100%;
    height: 437px;
    background-image: url(https://goo.gl/8Ec8wY);
    background-position: 50%;
    background-size: cover;
    z-index: 3;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: .5s ease-in-out;
    
}

.on  .up {
    height: 100px;
    box-shadow: 0 0 30px #CFD8DC;
}

.card  .up .text {
    position: absolute;
    top: 319px;
    left: 0;
    right: 0;
    color: #f1f7f9;
    transition: .5s ease-in-out;
}

.on  .up .text {
    top: 20px;
}

.card  .up .text h2{
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.card  .up .text p{
    margin: 0;
    font-size: 16px;
    color: #E3F1F5;
}

.card  .up .add {
    border-radius: 50%;
    background-color: #ed145b;
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.43);
    position: absolute;
    top: 392px;
    left: 0;
    right: 0;
    margin: auto;
    width: 88px;
    height: 88px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.on  .up .add {
    transform: rotate(360deg) scale(.5);
    top: 470px;
}



.card  .up .add i {
    color: white;
    font-size: 38px;
    line-height: 88px;
}

/****************
Down
****************/

.card .down {
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 178px;
    z-index: 2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .5s ease-in-out;
}

.on .down {
    height: 100px;
    box-shadow: 0 0 30px #CFD8DC;

}

.card .down div {
    width: 33.333%;
    float: left;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    transition: .5s ease-in-out;
}

.on .down div {
    margin-top: 10px;
}

.card .down div p:first-of-type {
    color: #68818c;
    margin-bottom: 5px;
}

.card .down div p:last-of-type {
    color: #334750;
    font-weight: 700;
    margin-top: 0;
}


